fastapi==0.116.1
uvicorn[standard]==0.35.0
SQLAlchemy==2.0.43
asyncpg==0.30.0
alembic==1.16.5
pydantic-settings==2.10.1
celery[redis]==5.5.3
httpx==0.28.1
beautifulsoup4==4.13.5
playwright==1.42.0
playwright-stealth==1.0.6